/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2023, 2:13:04 PM
    Author     : Darshana
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
 
 
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
 overflow-x: hidden;

}
.header{
    min-height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
   position: absolute;
   top: 0;
   background-color: transparent;
   display: flex;
   padding: 2% 6% ;
   justify-content: space-between;
   align-items: center;
}
nav img{
    width: 150px; 
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    position: relative;
    
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.right-nav a {
  color:white;
  text-decoration: none;
  margin-right: 20px;
  height: 40%;
  font-size: 15px;
}

.ticket {
  width: 40px;
  
  padding: 3px;
  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  background: none;
  font-size: 13px;
  color: white;
}
.background1{
    background-color: black;
    background-size: cover;
}
.background {
  background: rgba(2, 2, 2, 0.774) url("avatar.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 65vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  padding: 70vh 0;
}

.firstHalf {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-movie{
  font-size: 15px;
  margin: 0px;
  font-weight: 700;  
  
}

.text-nwpl{
  font-size: 15px;
  margin-top: -18px;
  margin-left: 80%;
  font-weight: 700;  
  text-decoration: none;
  color:white;
}
.text-movsh{
  font-size: 15px;
  margin-top: -18px;
  margin-left: 90%;
  font-weight: 700;
  text-decoration: none;
  color:white;
}

.line {
  margin: 50px;
  width: 100px;
}

.secondHalf {
  margin: 5px 10px 0 0;
  width: 100%;
  display: flex;
}
.secondHalf hr{
   width: 96%;
  background-color: white;
  height: 3px;
  margin: 3px 3px;
  border: 1px solid white;
  border-radius: 3px; 
}

/*-------------start movie list---------------------*/

.movie-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  padding: 20vh 0 0 0;
}

.movie{
    border: none;
    border-radius: 20px;
    border-color:white;
    margin: -700px 0 0 40px;
    width: 30%;
    height: 340px;
}
.movie-details{
    border: solid;
    border-radius: 3px;
    border-color: white;
    margin: 15px 0 0 50px;
    width:200px;
    height:200px;
}
.bt{
  background-color: #DEC20B; /* Green */
  border: none;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 15px 0 0 84px;
  font-size: 16px;
}
.movie p{
    text-align: center;
    margin: 8px 0 0 0;
}

.star span{
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 5px;
    padding-left: 30px;
    align-items: center;
}
.checked{
    color:#DEC20B;
}

/*----------end of movie list----------*/

/*----start footer----*/

.footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 100px 0 500px;
    width: 100%;
    color:white;
    padding-top: 5px;
}

.ftr{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 1500px;
    height: 250px;  
    padding: 0;
    margin: 700px 0 0 -100px;
}
/*---1st---*/
.ftr-sec-frst{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: 35px 0px 0px 180px;
      
}
.ftr-sec-frst p{
    font-size: 20px;
}
.logo-ftr{
    width :130px;
    height:100px;
}
/*---2nd---*/
.ftr-sec-scnd{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: -200px 0px 0px 430px;
     
}
.ftr-sec-scnd p{
    font-size: 20px;
    margin: 100px 0 0 0;
}
.ftr-sec-scnd p a{
    color:white;
    text-decoration:none;
}

/*---3rd---*/
/*.ftr-sec-thrd{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: -300px 0px 0px 560px;
       
}
.ftr-sec-thrd p{
    font-size: 20px;
    margin: 100px 0 0 0;
}
.ftr-sec-thrd p a{
    color:white;
    text-decoration:none;
}
*/
/*---4th---*/




.row{
            
    display: flex;
    margin-left: 0px;
    margin-right: 1%;
}
.row-one{
   flex-basis: 25%;
   background: black;
   border-radius: 1px;
   margin-bottom: 5%;
   padding: 35px 20px;
   box-sizing: border-box;
}
.row-one-Links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.row-one-Links ul li a{
   color: white;
    text-decoration: none;
    font-size: 15px;
}
 .row-one-Links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.row-one-Links ul li:hover::after{
    width: 100%;
}
hr
{
    margin-top: 200px;
}

.footer
{
    background-color: black;
    height: 50px;
}
/*------end footer----*/
@media(max-width: 1000px)
{
    * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
 overflow-x: hidden;

}
.header{
    min-height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
   position: absolute;
   top: 0;
   background-color: transparent;
   display: flex;
   padding: 2% 6% ;
   justify-content: space-between;
   align-items: center;
}
nav img{
    width: 150px; 
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    position: relative;
    
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.right-nav a {
  color:white;
  text-decoration: none;
  margin-right: 20px;
  height: 40%;
  font-size: 15px;
}

.ticket {
  width: 40px;
  
  padding: 3px;
  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  background: none;
  font-size: 13px;
  color: white;
}
.background1{
    background-color: black;
    background-size: cover;
}
.background {
  background: rgba(2, 2, 2, 0.774) url("avatar.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 65vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  padding: 70vh 0;
}

.firstHalf {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-movie{
  font-size: 15px;
  margin: 0px;
  font-weight: 700;  
  
}

.text-nwpl{
  font-size: 15px;
  margin-top: -18px;
  margin-left: 80%;
  font-weight: 700;  
  text-decoration: none;
  color:white;
}
.text-movsh{
  font-size: 15px;
  margin-top: -18px;
  margin-left: 90%;
  font-weight: 700;
  text-decoration: none;
  color:white;
}

.line {
  margin: 50px;
  width: 100px;
}

.secondHalf {
  margin: 5px 10px 0 0;
  width: 100%;
  display: flex;
}
.secondHalf hr{
   width: 96%;
  background-color: white;
  height: 3px;
  margin: 3px 3px;
  border: 1px solid white;
  border-radius: 3px; 
}

/*-------------start movie list---------------------*/

.movie-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  padding: 20vh 0 0 0;
}

.movie{
    border: none;
    border-radius: 20px;
    border-color:white;
    margin: -700px 0 0 40px;
    width: 30%;
    height: 340px;
}
.movie-details{
    border: solid;
    border-radius: 3px;
    border-color: white;
    margin: 15px 0 0 50px;
    width:200px;
    height:200px;
}
.bt{
  background-color: #DEC20B; /* Green */
  border: none;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 15px 0 0 84px;
  font-size: 16px;
}
.movie p{
    text-align: center;
    margin: 8px 0 0 0;
}

.star span{
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 5px;
    padding-left: 30px;
    align-items: center;
}
.checked{
    color:#DEC20B;
}

/*----------end of movie list----------*/

/*----start footer----*/

.footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 90px 0 500px;
    width: 100%;
    color:white;
    padding-top: 5px;
}

.ftr{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 1500px;
    height: 250px;  
    padding: 0;
    margin: 700px 0 0 -100px;
}
/*---1st---*/
.ftr-sec-frst{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: 35px 0px 0px 180px;
      
}
.ftr-sec-frst p{
    font-size: 20px;
}
.logo-ftr{
    width :130px;
    height:100px;
}
/*---2nd---*/
.ftr-sec-scnd{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: -200px 0px 0px 430px;
     
}
.ftr-sec-scnd p{
    font-size: 20px;
    margin: 100px 0 0 0;
}
.ftr-sec-scnd p a{
    color:white;
    text-decoration:none;
}

/*---3rd---*/
/*.ftr-sec-thrd{
    border:none;
    border-radius: 10px;
    border-color: white;
    width: 180px;
    height: 200px;  
    margin: -300px 0px 0px 560px;
       
}
.ftr-sec-thrd p{
    font-size: 20px;
    margin: 100px 0 0 0;
}
.ftr-sec-thrd p a{
    color:white;
    text-decoration:none;
}
*/
/*---4th---*/




.row{
            
    display: flex;
    margin-left: 0px;
    margin-right: 1%;
}
.row-one{
   flex-basis: 25%;
   background: black;
   border-radius: 1px;
   margin-bottom: 5%;
   padding: 35px 20px;
   box-sizing: border-box;
}
.row-one-Links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.row-one-Links ul li a{
   color: white;
    text-decoration: none;
    font-size: 15px;
}
 .row-one-Links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.row-one-Links ul li:hover::after{
    width: 100%;
}
hr
{
    margin-top: 200px;
}

.footer
{
    background-color: black;
    height: 50px;
}
/*------end footer----*/
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;}
    .nav-links ul li{
        display: block;
    }
    .nav-links{
       position: absolute;
       background: red;
       height: 100vh;
       width: 200px;
       top: 0;
       right: -500px;
       text-align: left;
       z-index: 2;
       transition: 1s;
    }
    nav .fa{
       display: block;
       color: white;
       margin: 10px;
       font-size: 22px;
       cursor: pointer;
    }
}
